[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
environ = "*"
gunicorn = "*"
django-heroku = "*"
whitenoise = "*"
psycopg2 = "*"
dj-database-url = "*"
psycopg2-binary = "*"

[dev-packages]
coverage = "*"

[requires]
python_version = "3.10"

[scripts]
dev = "python ./mediquick/manage.py runserver"
migrate = "python ./mediquick/manage.py migrate"
test = "python ./mediquick/manage.py test mediquick"
initcov = "coverage run --source='.' ./mediquick/manage.py test mediquick"
viewcov = "coverage report"
checkdeploy = "python ./mediquick/manage.py check --deploy"
