[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
environ = "*"
django-channels = "*"
channels-redis = "*"

[dev-packages]
coverage = "*"

[requires]
python_version = "3.8.8"

[scripts]
dev = "python ./mediquick/manage.py runserver"
migrate = "python ./mediquick/manage.py migrate"
test = "python ./mediquick/manage.py test mediquick"
initcov = "coverage run --source='.' ./mediquick/manage.py test mediquick"
viewcov = "coverage report"
