{% extends 'public/base.html' %}
{% load static %}

{% block title %}Testimonials{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'public/css/home.css' %}">
<link rel="stylesheet" href="{% static 'public/css/testimonials.css' %}">
{% endblock %}

{% block content %}
    <div class="testimonials-body">

      <h2>Testimonials</h2>
      <p>You will love using our app just as much as our existing customers do!</p>

      <div class="testimonials-container">
        <div class="testimonials-card">
          ***
          "Dr Elwin really listens to your problems and explains things really clearly.  Such a great doctor!"
          *** - <em>Alan, from Devon</em>
        </div>

        <div class="testimonials-card">
          ***
          "Dr Greta has such wonderful attention to detail.  She always asks the right questions, and forms a diagnosis with great speed and efficiency!"
          *** <em>- Brenda, from Manchester</em>
        </div>

        <div class="testimonials-card">
          ***
          "Dr Ryan is incredibly compassionate; he has a gift for making you feel at ease and I always leave with a smile on my face!"
          *** - <em>Phil, from Norwich</em>
        </div>
      </div>

    </div>
{% endblock %}