/* body{
    background-image: url('../images/mobile-background.png');
    background-repeat: no-repeat;
    background-size: cover;


} */
/* mobile first */
@import url('./base.css');  

#cover{
    background-color: var(--blue);
    position: fixed;
    top: 0;
    justify-content: center;
    width: 130vw;
    height: 60%;
    left: -15%;
    border-bottom: 1px solid var(--blue);
    border-bottom-left-radius: 60%;
    border-bottom-right-radius: 60%;
    z-index: -1;
}

h1{
    font-family: var(--head-fonts);
    font-size: 3rem;
}
