
/* mobile first */
@import url('./base.css');  
/* @import url('https://fonts.googleapis.com/css2?family=Playfair+D'); */

.section-container{
    /* display: absolute; */
    height: 30vh;
}

#cover{
    background-color: var(--blue);
    position: fixed;
    top: 0;
    justify-content: center;
    width: 130vw;
    height: 55%;
    left: -15%;
    border-bottom: 1px solid var(--blue);
    border-bottom-left-radius: 70%;
    border-bottom-right-radius: 70%;
    z-index: -1;
}

#hero{
    display: flex;
    justify-content: center;
    position: relative;
    top: 15vh;
}

#home-centerpiece{
    height: 600px;
    z-index: 0;
}

.overlay{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 18vh;
    flex-direction: column;
    text-align: center;
    color: white;
    width: 80%;
    padding: 5px 10px;
    background: rgba(47, 128, 237, 0.35);
    z-index: 1;
}

.overlay > * {
    z-index: 2;
}


.overlay h1, .overlay h3{
    /* font-family: var(--head-fonts);
    font-size: 3rem; */
    font: var(--head-fonts);
    color: white;
    text-align: center;
    font-family: 'Playfair Display', serif;
}


.overlay h1{
    font-weight: 600;
}

.overlay h3{
    font-size: var(--hnf-size);
    font: var(--content-fonts);
}

#lower{
    margin: 40% 0 0; 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 20vh;
    align-items: center;
}

div.button{
    font-size: 2.5rem;
    margin: 10px 0 10px;
    background-color: var(--blue);   
    width: 45vw;
    text-align: center;
    height: 80px;
    /* margin: 10px 20%; */
    border-radius: 20px;
    height: 100px;
  
    /* left: 82px; */
    /* top: 423px; */
    /* margin: 5px; */
  }
 
.section-container > a{
    color: white;
    font: var(--content-fonts);

}

.button p{
    margin: 0;
    padding: 20px 0;
    /* text-transform: uppercase; */
}

div.button:hover{
   background-color: #44BFA1;
   color:white;
}

a:hover{
    color: #44BFA1;
}
/* 
.button a{
    color: white;
    line-height: 5px;
} */

@media screen and (min-width:1318px) {
    .section-container{
        /* display: absolute; */
        height: 20vh;
    }

    #hero{
        top: 5vh;
    }

    #home-centerpiece{
        height: 400px;
        z-index: 0;
    }

    .overlay h1{
        font-weight: 500;
    }
    
    #cover{
        width: 120vw;
        height: 55%;
        left: -15%;
        border-bottom-left-radius: 90%;
        border-bottom-right-radius: 90%;
    }
    
    .overlay{
        display: flex;
        justify-content: center;
        position: absolute;
        top: 18vh;
        flex-direction: column;
        text-align: center;
        color: white;
        width: 60%;
        padding: 5px 10px;
        background: rgba(47, 128, 237, 0.35);
        z-index: 1;
    }
    
    .overlay > * {
        z-index: 2;
    }
    
    .overlay h1{
        font-weight: 600;
        font-size: 3rem;
    }
    
    .overlay h3{
        font-size: var(--hnf-size);
    }
    
    #lower{
        margin: 16% 0 0; 
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        height: 30vh;
        align-items: center;
    }
    
    div.button{
        font-size: 1.5rem;
        width: 25vw;
        text-align: center;
        border-radius: 20px;
        height: 70px;
        margin-bottom: 10%;
        flex-direction: column;
      }

} 