{% extends "./base.html" %}
{% load static %}
{% load bootstrap4 %}



{% block title %}{{name}}'s Dashboard{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/patient-home.css' %}">
{% endblock  %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}


{% block content %}
<div class="container pt-5">
  <div class="heading">
    <h1>Welcome {{name}}!</h1>
    <p></p>
  </div>  
   
        <div class="row align-items-start">
          <div class="col">
            <div class="card text-center">
                <div class="card-header">
                  
                </div>
                <div class="card-body">
                  <h5 class="card-title">Dr Elwin</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="/chat/drelwin" class="btn btn-primary">Chat Now!</a>
                </div>
                <div class="card-footer text-muted">
                  online
                </div>
              </div>
          </div>

          <div class="col">
            <div class="card text-center">
                <div class="card-header">
          
                </div>
                <div class="card-body">
                  <h5 class="card-title">Dr Greta</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="/chat/drgreta" class="btn btn-primary">Chat Now!</a>
                </div>
                <div class="card-footer text-muted">
                  online
                </div>
              </div>

          </div>

          <div class="col">
            <div class="card text-center">
                <div class="card-header">
                  
                </div>
                <div class="card-body">
                  <h5 class="card-title">Dr Ryan</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                  <a href="/chat/drryan" class="btn btn-primary">Chat Now!</a>
                </div>
                <div class="card-footer text-muted">
                  online
                </div>
              </div>
          </div>
          
        </div>


    


</div>
  
{% endblock %}