<!DOCTYPE html>
<head>
  {% block head %}
  <title>MediQuick | {% block title %} {% endblock %}</title>
  {% endblock %}
</head>

<body>
  <nav>
    <div class="main-nav">
        <a href="{% url 'index' %}">Home</a>
    </div>

    <div class="auth-nav">
        {% if user.is_authenticated %}
            <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'register' %}">Register</a>
        {% endif %}            
    </div>
  </nav>
  {% block content %}
  {% endblock %}
   <footer>
      <a href=""><p>About</p></a>
      <a href=""><p>Policy</p></a>
      <a href=""><p>Support</p></a>
   </footer>
</body>