{% load static %}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}


<!DOCTYPE html>
<head>
 
  <title>MediQuick | {% block title %} {% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="shortcut icon" type="image/jpg" href="{% static 'media/crossign.png'%/}">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap" rel="stylesheet">  
  <!-- <link rel="preconnect" href="https://fonts.gstatic.com"> -->
  <link href="https://fonts.googleapis.com/css2?family=Oxygen&display=swap" rel="stylesheet">
  {% block head %}
  {% endblock %}
</head>

<body>
  <nav>
    <div class="nav">
      <a href="/"><p>Home</p></a>
      <a href="/testimonials/"><p>Testimonials</p></a>
    </div>
  </nav>
  <main>
    {% block content %}

    {% endblock %}
  </main>
 
  <div class="fixed-bottom">
   <footer>
     <ul>
      <a href="/policy"><li>
       <p>Policy</p>
      </li></a>
      <a href="https://github.com/ecarlos09/mediquick"><li>
       <p>About</p>
      </li></a>
      <a href="/support"><li>
       <p>Support</p>
      </li></a>
    </ul> 
   </footer>
  </div>
   {% block script %}
   {% endblock %}
</body>