{% extends "public/base.html" %}
{% load static %}

{% block title %} Home {% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'public/css/home.css' %}">
{% endblock %}

{% block content %}
<div id="upper" class="section-container">
    <div id="cover"></div>   
 
    <div id="hero">  
        <div class="overlay">
            <h1>MediQuick</h1>
            <h3>Advancing diagnosis into the future generation</h3>
        </div>
      
        <img id="home-centerpiece" src='../../static/public/images/ladywithcomputer.png'></div>
    </div>

<div id="lower" class="section-container">
    <a href="login"><div class="button">
        <p>Login</p>
    </div></a>
    <a href="register">
        <div class="button">
            <p>Get  Started</p>
        </div></a>
</div>
   
{% endblock %}

