{% extends 'public/base.html' %}
{% load static %}

{% block title %}Testimonials{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'public/css/home.css' %}">
<link rel="stylesheet" href="{% static 'public/css/testimonials.css' %}">
{% endblock %}

{% block content %}
    <div class="testimonials-container">
      <h2>Testimonials</h2>
      <p>Transparency is a key factor for our app and for this reason we would like to highlight our top performing doctors here!</p>
      <p>Let's go <a href="{ url 'patient-home'}">Home</a></p>

      <div class="testimonials-card">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi eaque excepturi adipisci nam ipsa fugiat illo sed deleniti doloribus ducimus, ab, odio sapiente in incidunt molestias harum eum quo accusamus?
      </div>

      <div class="testimonials-card">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi eaque excepturi adipisci nam ipsa fugiat illo sed deleniti doloribus ducimus, ab, odio sapiente in incidunt molestias harum eum quo accusamus?
      </div>

      <div class="testimonials-card">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi eaque excepturi adipisci nam ipsa fugiat illo sed deleniti doloribus ducimus, ab, odio sapiente in incidunt molestias harum eum quo accusamus?
      </div>

    </div>
{% endblock %}