/* @import url('https://fonts.googleapis.com/css2?family=Playfair+D'); */

:root{
  --blue: #2F80ED;
  --head-fonts: 5rem 'Playfair Display', serif;
  --content-fonts: 2rem 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;;
}

body{
  box-sizing: border-box;
  margin: 0;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    padding-left: 5px;
    display: flex;
    justify-content: space-evenly;
  }

  .nav a{
    color: black;
    font-size: 3rem;
    text-decoration: underline;

    
  }


  a{
    text-decoration: none;
  }

footer{
  /* display: fixed;
  bottom: 0;
  align-items: center;
  width: 100vw; */
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 120px;            /* Footer height */
  font:var(--content-fonts);
}

footer a{
  color: grey;
  font-size: 2.3rem;
  margin: 0 30px;
}

ul
{
  margin: 0 10px;
  display:flex;  
  list-style:none;
  justify-content: space-evenly;
}
/* 
@media screen and (min-width:1318px) {
    body{
      color: red;
    }
} */